.card-table-content { padding-top: 24px; }
.card-table-content button { width: 400px; margin-bottom: 16px; padding: 16px 0 16px 0; background: limegreen; border-bottom: 8px solid black; color: white; font-size: 150%; font-weight: bold; text-align: center; text-transform: uppercase; cursor: pointer; }
.card-table-content button:hover { border-bottom: 8px solid white; }
