<div class="card-table">
    <div class="card-table-header">
        <div class="card-table-header-left">
            <h3>Ante: ${{ game.ante }}</h3>
            <h3>Limit: ${{ game.limit }}</h3>
        </div>
        <div class="card-table-header-centre">
            <h4>{{ game.title }}</h4>
        </div>
        <div class="card-table-header-right">
            <h3>Cash: ${{ game.cash }}</h3>
            <h3>Hand: {{ game.hand }}</h3>
        </div>
    </div>

    <div class="card-table-sub-header">
        <div class="card-table-sub-header-left">
            <h5>{{ gameEngine.getHand(game) }}</h5>
        </div>
        <div class="card-table-sub-header-centre">
            <h5 *ngIf="subTitleEnabled()">{{ game.subTitle }}</h5>
            <h5 *ngIf="renderAlertEnabled()">{{ renderAlertSettings.message }}</h5>
            <br *ngIf="!subTitleEnabled() && !renderAlertEnabled()" />
        </div>
        <div class="card-table-sub-header-right">
            <h5>${{ game.pot }}</h5>
        </div>
    </div>

    <div class="card-table-content">
        <div class="card-table-player-hand" *ngIf="!gameEngine.playerHandEnabled(game)">
            <div class="end">
                <br *ngIf="!renderAnteUpEnabled()" />
                <div *ngIf="renderAnteUpEnabled()" class="card-table-bets">
                    <div *ngFor="let chip of game.aiPlayer.chips; let i = index">
                        <div *ngIf="chip.visible">
                            <img [src]="chip.url" [alt]="chip.title" />
                            <span>{{ chip.quantity }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card"><br /></div>
            <div class="card"><br /></div>
            <div class="card">
                <img src="images/cards/back.png" alt="Back" />
            </div>
            <div class="card"><br /></div>
            <div class="card"><br /></div>
            <div class="end">
                <br *ngIf="!renderAnteUpEnabled()" />
                <div *ngIf="renderAnteUpEnabled()" class="card-table-bets">
                    <div *ngFor="let chip of game.player.chips; let i = index">
                        <div *ngIf="chip.visible">
                            <img [src]="chip.url" [alt]="chip.title" />
                            <span>{{ chip.quantity }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-table-player-hand" *ngIf="gameEngine.playerHandEnabled(game)">
            <div class="end"><br /></div>
            <div *ngFor="let card of game.player.cards; let i = index" class="card">
                <img *ngIf="card.visible" src="{{ gameEngine.getCardUrl(card) }}" alt="{{ card.title }}" (click)="cardClick(card.rank, card.suit)" />
                <span *ngIf="card.hold">HOLD</span>
            </div>
            <div class="end">
                <div class="card-table-bets">
                    <div *ngFor="let chip of game.player.chips; let i = index">
                        <div (click)="removeChipClick(chip.value)">
                            <img [src]="chip.url" [alt]="chip.title" />
                            <span>{{ chip.quantity }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-table-sub-footer">
        <div class="card-table-sub-footer-left">
            <h5 *ngIf="renderAnteUpEnabled()">${{ gameEngine.getPlayerBet(game.aiPlayer) }}</h5>
            <h5 *ngIf="gameEngine.playerBetEnabled(game) && !renderAnteUpEnabled()">${{ game.aiPlayer.lastBetAmount }} <span>{{ game.aiPlayer.lastBetTypeTitle }}</span></h5>
            <h4 *ngIf="gameEngine.gameOverEnabled(game)">{{ game.aiPlayer.hand }}</h4>
            <br *ngIf="!gameEngine.playerBetEnabled(game) && !gameEngine.gameOverEnabled(game) && !renderAnteUpEnabled()" />
        </div>
        <div class="card-table-sub-footer-centre">
            <div class="card-table-chips">
                <div *ngFor="let chip of game.betChips; let i = index" (click)="addChipClick(chip.value)">
                    <img src="{{ chip.url }}" alt="{{ chip.title }}" />
                    <span>{{ chip.value }}</span>
                </div>
            </div>
        </div>
        <div class="card-table-sub-footer-right">
            <h5 *ngIf="gameEngine.playerBetEnabled(game)">${{ gameEngine.getPlayerBet(game.player) }}</h5>
            <h4 *ngIf="gameEngine.gameOverEnabled(game)">{{ game.player.hand }}</h4>
            <br *ngIf="!gameEngine.playerBetEnabled(game) && !gameEngine.gameOverEnabled(game)" />
        </div>
    </div>

    <div class="card-table-footer">
        <div class="card-table-footer-left">
            <h3>AI Player</h3>
            <h3>Cash: ${{ game.aiPlayer.cash }}</h3>
            <h3 *ngIf="gameEngine.playerWinningsEnabled(game.aiPlayer)">Win: ${{ game.aiPlayer.winnings }}</h3>
            <h3 *ngIf="!gameEngine.playerWinningsEnabled(game.aiPlayer)" class="loss">Loss: ${{ game.aiPlayer.winnings * -1 }}</h3>
        </div>
        <div class="card-table-footer-centre">
            <button type="button" *ngIf="gameEngine.anteUpEnabled(game)" (click)="btnAnteClick()">Ante</button>
            <button type="button" *ngIf="gameEngine.dealEnabled(game)" (click)="btnDealClick()">Deal</button>
            <button type="button" *ngIf="gameEngine.foldEnabled(game)" (click)="btnFoldClick()" class="fold">Fold</button>               
            <button type="button" *ngIf="gameEngine.checkEnabled(game)" (click)="btnCheckClick()">Check</button>
            <button type="button" *ngIf="gameEngine.callEnabled(game)" (click)="btnCallClick()">Call</button>
            <button type="button" *ngIf="gameEngine.raiseEnabled(game)" (click)="btnRaiseClick()">Raise</button>
            <button type="button" *ngIf="gameEngine.drawEnabled(game)" (click)="btnDrawClick()">Draw</button>
            <button type="button" *ngIf="gameEngine.showdownEnabled(game)" (click)="btnShowdownClick()">Showdown</button>
            <button type="button" *ngIf="gameEngine.gameOverEnabled(game)" (click)="btnRetireClick()" class="fold">Retire</button>
            <button type="button" *ngIf="gameEngine.gameOverEnabled(game)" (click)="btnNextClick()">Next</button>
        </div>
        <div class="card-table-footer-right">
            <h3>Player</h3>
            <h3>Cash: ${{ game.player.cash }}</h3>
            <h3 *ngIf="gameEngine.playerWinningsEnabled(game.player)">Win: ${{ game.player.winnings }}</h3>
            <h3 *ngIf="!gameEngine.playerWinningsEnabled(game.player)" class="loss">Loss: ${{ game.player.winnings * -1 }}</h3>     
        </div>
    </div>
</div>