<div class="card-table">
    <div class="card-table-header">
        <div class="card-table-header-left">
            <h3>Ante: ${{ getGame().ante }}</h3>
            <h3>Limit: ${{ getGame().limit }}</h3>
            <h3>Cash: ${{ getGame().cash }}</h3>
        </div>
        <div class="card-table-header-centre">
            <h4>{{ getGame().title }}</h4>
        </div>
        <div class="card-table-header-right">
            <h5>${{ getGame().pot }}</h5>
        </div>
    </div>

    <div class="card-table-sub-header">
        <h5 *ngIf="!alertTimerRunning">{{ getGame().subTitle }}</h5>
        <h5 *ngIf="alertTimerRunning && alertVisible">{{ alertMessage }}</h5>
    </div>

    <div class="card-table-content">
        <div class="card-table-player-hand" *ngIf="!isCardsDealt()">
            <div class="end"><br /></div>
            <div class="card"><br /></div>
            <div class="card"><br /></div>
            <div class="card">
                <img src="images/cards/back.png" alt="Back" />
            </div>
            <div class="card"><br /></div>
            <div class="card"><br /></div>
            <div class="end"><br /></div>
        </div>

        <div class="card-table-player-hand" *ngIf="isCardsDealt()">
            <div class="end"><br /></div>
            <div class="card">
                <img src="{{ getGame().aiPlayer.cards[0].url }}" alt="{{ getGame().aiPlayer.cards[0].title }}" />
            </div>
            <div class="card">
                <img src="{{ getGame().aiPlayer.cards[1].url }}" alt="{{ getGame().aiPlayer.cards[1].title }}" />
            </div>
            <div class="card">
                <img src="{{ getGame().aiPlayer.cards[2].url }}" alt="{{ getGame().aiPlayer.cards[2].title }}" />
            </div>
            <div class="card">
                <img src="{{ getGame().aiPlayer.cards[3].url }}" alt="{{ getGame().aiPlayer.cards[3].title }}" />
            </div>
            <div class="card">
                <img src="{{ getGame().aiPlayer.cards[4].url }}" alt="{{ getGame().aiPlayer.cards[4].title }}" />
            </div>
            <div class="end">
                <div *ngIf="getPlayerBet() > 0">
                    <h5>${{ getPlayerBet() }}</h5>
                </div>
            </div>
        </div>

        <div class="card-table-player-hand" *ngIf="isCardsDealt()">
            <div class="end"><br /></div>
            <div class="card">
                <img src="{{ getGame().player.cards[0].url }}" alt="{{ getGame().player.cards[0].title }}" (click)="cardClick(getGame().player.cards[0].rank, getGame().player.cards[0].suit)" />
                <span *ngIf="getGame().player.cards[0].hold">HOLD</span>
            </div>
            <div class="card">
                <img src="{{ getGame().player.cards[1].url }}" alt="{{ getGame().player.cards[1].title }}" (click)="cardClick(getGame().player.cards[1].rank, getGame().player.cards[1].suit)" />
                <span *ngIf="getGame().player.cards[1].hold">HOLD</span>
            </div>
            <div class="card">
                <img src="{{ getGame().player.cards[2].url }}" alt="{{ getGame().player.cards[2].title }}" (click)="cardClick(getGame().player.cards[2].rank, getGame().player.cards[2].suit)" />
                <span *ngIf="getGame().player.cards[2].hold">HOLD</span>
            </div>
            <div class="card">
                <img src="{{ getGame().player.cards[3].url }}" alt="{{ getGame().player.cards[3].title }}" (click)="cardClick(getGame().player.cards[3].rank, getGame().player.cards[3].suit)" />
                <span *ngIf="getGame().player.cards[3].hold">HOLD</span>
            </div>
            <div class="card">
                <img src="{{ getGame().player.cards[4].url }}" alt="{{ getGame().player.cards[4].title }}" (click)="cardClick(getGame().player.cards[4].rank, getGame().player.cards[4].suit)" />
                <span *ngIf="getGame().player.cards[4].hold">HOLD</span>
            </div>
            <div class="end" *ngFor="let chip of getGame().player.chips; let i = index">
                <div (click)="removeChipClick(chip.value)">
                    <img [src]="chip.url" [alt]="chip.title" />
                    <span>{{ chip.quantity }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-table-footer">
        <div class="card-table-footer-left">
            <h3>Hand: {{ getGame().hand }}</h3>
            <h3>Cash: ${{ getGame().player.cash }}</h3>
            <h3 *ngIf="getGame().player.winnings >= 0">Win: ${{ getGame().player.winnings }}</h3>
            <h3 *ngIf="getGame().player.winnings < 0" class="loss">Loss: ${{ getGame().player.winnings * -1 }}</h3>        
        </div>
        <div class="card-table-footer-centre">
            <button type="button" *ngIf="isAnte()" (click)="btnAnteClick()">Ante</button>
            <button type="button" *ngIf="isDeal()" (click)="btnDealClick()">Deal</button>
            <!--<button type="button" *ngIf="isBet() && getPlayerBet() == 0" (click)="btnFoldClick()">Fold</button>-->
            <button type="button" *ngIf="isBet() && getPlayerBet() == 0" (click)="btnCheckClick()">Check</button>
            <button type="button" *ngIf="isBet() && getPlayerBet() > 0" (click)="btnRaiseClick()">Raise</button>
            <button type="button" *ngIf="isBet() && isCallAvailable()" (click)="btnCallClick()">Call</button>
            <button type="button" *ngIf="isDraw()" (click)="btnDrawClick()">Draw</button>
            <button type="button" *ngIf="isShowdown()" (click)="btnShowdownClick()">Showdown</button>
            <button type="button" *ngIf="isGameOver()" (click)="btnNextClick()">Next</button>
        </div>
        <div class="card-table-footer-right">
            <div class="card-table-chips">
                <div (click)="addChipClick(5)">
                    <img src="images/chips/light-blue.png" alt="Light Blue Chip" />
                    <span>5</span>
                </div>
                <div (click)="addChipClick(10)">
                    <img src="images/chips/red.png" alt="Red Chip" />
                    <span>10</span>
                </div>
                <div (click)="addChipClick(25)">
                    <img src="images/chips/dark-red.png" alt="Dark Red Chip" />
                    <span>25</span>
                </div>
                <div (click)="addChipClick(50)">
                    <img src="images/chips/blue.png" alt="Blue Chip" />
                    <span>50</span>
                </div>
            </div>
        </div>
    </div>
</div>